.content {
    grid-area: c;
    background-color: darkseagreen;
}

.post {

}

.bigPic img {
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.smallPic img {
    object-fit: cover;
    width: 70px;
    height: 70px;
}